<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workflow system</title>
    <link rel="stylesheet" href="/static/order.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light  navbar-style">
    <a class="navbar-brand" href="/home/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item navbar-style-item">
                <a class="nav-link active" aria-current="page" href="/order/">Orders</a>
            </li>
            <li class="nav-item navbar-style-item">
                <a class="nav-link" href="/booking/">Booking</a>
            </li>
            <li class="nav-item navbar-style-item">
                <a class="nav-link" href="/checkin/">Checkin</a>
            </li>
            <li class="nav-item navbar-style-item">
                <a class="nav-link navbar-style-item" href="/report/">Reporting</a>
            </li>
        </ul>
    </div>
    <div class="main-avatar d-flex align-items-center justify-content-center">
        <img src="https://images.pexels.com/photos/8836497/pexels-photo-8836497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
             alt="avatar">
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-3 order-left-bg">
            <div style="margin-top: 50px" class="list-group" id="list-tab" role="tablist">
                <a class="order-list-item active" id="home" data-bs-toggle="list" href="#home-page">Overview</a>
                <a class="order-list-item active" id="workflow" data-bs-toggle="list" href="#workflow-page">Workflow</a>
                <a class="order-list-item" id="practitioner" data-bs-toggle="list" href="#practitioner-page">Practitioner</a>
                <a class="order-list-item" id="patient" data-bs-toggle="list" href="#patient-page">Patient</a>
            </div>
        </div>
        <div id="home-page" class="offset-2 col-5" style="margin-top: 50px; display: block">
            <h1 style="text-align: center;">Order Workflow</h1>
            <div class="form">
                <form>
                    <fieldset disabled>
                        <div class="mb-3">
                            <label for="workflow" class="form-label">Workflow</label>
                            <input type="text" class="form-control" id="wk-name">
                        </div>
                        <div class="mb-3">
                            <label for="practitioner" class="form-label">Practitioner</label>
                            <input type="text" class="form-control" id="par-name">
                        </div>
                        <div class="mb-3">
                            <label for="patient" class="form-label">Patient</label>
                            <input type="text" class="form-control" id="pat-name">
                        </div>
                    </fieldset>
                    <div class="mb-3">
                        <label for="encounter" class="form-label">Encounter</label>
                        <input type="text" class="form-control" id="encounter">
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <input type="text" class="form-control" id="comment">
                    </div>
                </form>
                <button class="btn btn-primary" style="width: 100%; margin-top: 10px" onclick="sendOrder()">Order</button>
            </div>
        </div>
        <div id="workflow-page" class="offset-2 col-5" style="margin-top: 50px; display: none">
            <h1 style="text-align: center;">Workflow</h1>
            <p style="text-align: center; font-size: 20px; margin-top: 20px"> Please choose the workflow in the table
                below</p>
            <table class="table table-hover table-bordered workflow-table" style="margin-top: 50px">
                <thead>
                <tr>
                    <th scope="col" class="workflow-table-width-control">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">Description</th>
                    <th scope="col">URL</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><label for="wf-1"></label><input class="form-check-input" type="radio" name="wf"
                                                                     id="wf-1" onclick="choose(this);"></th>
                    <td>Chest X-Ray</td>
                    <td>1</td>
                    <td>Description</td>
                    <td>URL1</td>
                </tr>
                <tr>
                    <th scope="row"><label for="wf-2"></label><input class="form-check-input" type="radio" name="wf"
                                                                     id="wf-2" onclick="choose(this);"></th>
                    <td>HIST</td>
                    <td>1</td>
                    <td>Description</td>
                    <td>URL1</td>
                </tr>
                <tr>
                    <th scope="row"><label for="wf-3"></label><input class="form-check-input" type="radio" name="wf"
                                                                     id="wf-3" onclick="choose(this);"></th>
                    <td>X-Ray 1</td>
                    <td>1</td>
                    <td>Description</td>
                    <td>URL1</td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="wf-4"></label>
                        <input class="form-check-input" type="radio" name="wf" id="wf-4" onclick="choose(this);">
                    </th>
                    <td>X-Ray 2</td>
                    <td>1</td>
                    <td>Description</td>
                    <td>URL1</td>
                </tr>
                <tr>
                    <th scope="row"><label for="wf-5"></label><input class="form-check-input" type="radio" name="wf"
                                                                     id="wf-5" onclick="choose(this);"></th>
                    <td>X-Ray 3</td>
                    <td>1</td>
                    <td>Description</td>
                    <td>URL1</td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" style="width: 100%; margin-top: 10px"
                    onclick="confirmWorkflow()">Confirm
            </button>
        </div>
        <div id="practitioner-page" class="offset-2 col-6" style="margin-top: 50px; display: none">
            <form action="">
                <div class="mb-3">
                    <label for="lname" class="form-label">First name</label>
                    <input type="text" id="practitioner-firstname" class="form-control" placeholder="Practitioner's first name">
                </div>
                <div class="mb-3">
                    <label for="fname" class="form-label">Last name</label>
                    <input type="text" id="practitioner-lastname" class="form-control" placeholder="Practitioner's last name">
                </div>
            </form>
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 10px"
                    onclick="confirmPractitioner()">Confirm
            </button>
        </div>
        <div id="patient-page" class="offset-2 col-6" style="margin-top: 50px; display: none">
            <form action="">
                <div class="mb-3">
                    <label for="lname" class="form-label">First name</label>
                    <input type="text" id="patient-firstname" class="form-control" placeholder="Patient's first name">
                </div>
                <div class="mb-3">
                    <label for="fname" class="form-label">Last name</label>
                    <input type="text" id="patient-lastname" class="form-control" placeholder="Patient's last name">
                </div>
            </form>
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 10px"
                    onclick="confirmPatient()">Confirm
            </button>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="workflow-selection" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="name-empty" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        $("input[name='wf']").each(function (i, obj) {  // first pass, create name mapping
            $(obj).prop('checked', false)
        });
    });

    let workflow = '';

    function choose(ele) {
        workflow = $(ele).attr("id");
    }

    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });

    function sendOrder() {
        // 取到文件数据
        // 发Ajax
        let mydata = {
            wk_name:  $("#wk-name").val(),
            pat_name: $("#pat-name").val(),
            par_name: $("#par-name").val(),
            encounter: $("#encounter").val(),
            comment: $("#comment").val(),
        }
        $.ajax({
            url: '/sendOrder/',
            type: 'POST',
            processData: false, // 告诉jQuery不要处理上传的数据
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(mydata),
            success: function (res) {
                console.log(res);
            }
        })
    }

    function confirmWorkflow() {
        if (workflow === '') {
            $("#workflow-selection").modal('show')
            return;
        }
        $("#wk-name").val(workflow)
        $("#home").trigger('click')
    }

    function confirmPatient() {
        let pl = $("#patient-lastname").val()
        let pf = $("#patient-firstname").val()
        if (pl === '' || pf === '') {
            $("#name-empty").modal('show')
            return;
        }
        $("#pat-name").val(pf + " " + pl)
        $("#home").trigger('click')
    }

    function confirmPractitioner() {
        let pl = $("#practitioner-lastname").val()
        let pf = $("#practitioner-firstname").val()
        if (pl === '' || pf === '') {
            $("#name-empty").modal('show')
            return;
        }
        $("#par-name").val(pf + " " + pl)
        $("#home").trigger('click')
    }

    function setTime() {
        let currentPage = '#home-page'
        $("#home").click(function () {
            if (currentPage !== '#home-page') {
                $("#home-page")[0].style.display = 'block';
                $(currentPage)[0].style.display = 'none';
                currentPage = '#home-page'
            }
        })
        $("#workflow").click(function () {
            if (currentPage !== '#workflow-page') {
                $("#workflow-page")[0].style.display = 'block';
                $(currentPage)[0].style.display = 'none';
                currentPage = '#workflow-page'
            }
        })
        $("#practitioner").click(function () {
            if (currentPage !== '#practitioner-page') {
                $("#practitioner-page")[0].style.display = 'block';
                $(currentPage)[0].style.display = 'none';
                currentPage = '#practitioner-page'
            }
        })
        $("#patient").click(function () {
            if (currentPage !== '#patient-page') {
                $("#patient-page")[0].style.display = 'block';
                $(currentPage)[0].style.display = 'none';
                currentPage = '#patient-page'
            }
        })
    }
    setTime();
</script>
</body>
</html>
